<nav class="bg-backgroundColour py-14">
  <ul class="flex justify-center space-x-8">
    <li><a routerLink="/home" routerLinkActive="active" class="text-gray-700 hover:text-blue-500">Home</a></li>
    <li><a routerLink="/login" routerLinkActive="active" class="text-gray-700 hover:text-blue-500">Login</a></li>
    <li><a routerLink="/register" routerLinkActive="active" class="text-gray-700 hover:text-blue-500">Register</a></li>
    <li><a routerLink="/calculate-price" routerLinkActive="active" class="text-gray-700 hover:text-blue-500">Calculate Price</a></li>
    <li><a routerLink="/profile" routerLinkActive="active" class="text-gray-700 hover:text-blue-500">Profile</a></li>
  </ul>
  <hr style="border: 1px solid #ddd; margin: 0;">
</nav>