<nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
      <li><a routerLink="/calculate-price" routerLinkActive="active">Calculate Price</a></li>
      <li><a routerLink="/create-parcel-label" routerLinkActive="active">Create Parcel Label</a></li>
      <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
    </ul>
    <hr style="border: 1px solid #ddd; margin: 0;">
  </nav>