<div class="mt-5 flex justify-center">
    <div class="w-full lg:max-w-screen-md max-w-screen-sm">
      <div *ngIf="showElement" @slideFade>
        <!-- Header -->
        <h1 class="text-4xl lg:text-6xl font-medium text-primaryText mb-8 text-left">Create your LogiXpert account</h1>
        <p class="text-sm lg:text-base text-primaryText mb-6 text-left">Feel the difference in service</p>

        
        <!-- Sign In Form -->
        <form [formGroup]="registerForm" (ngSubmit)="register()" class="w-full">

             <!-- Name -->
             <div class="mb-4">
                <label for="name" class="block mb-2 text-base font-medium text-primaryText">Name</label>
                <div class="relative">

                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500">
                            <defs>
                                <style>.cls-1{fill:#4e4e55;}.cls-2{fill:#77acf1;}</style>
                            </defs>
                            <g data-name="7. Id Card" id="_7._Id_Card">
                                <path class="cls-1" d="M29,9H24a1,1,0,0,0,0,2h5a1,1,0,0,1,1,1V28a1,1,0,0,1-1,1H3a1,1,0,0,1-1-1V12a1,1,0,0,1,1-1h8a2,2,0,0,0,2,2h6a2,2,0,0,0,2-2V3a2,2,0,0,0-2-2H13a2,2,0,0,0-2,2V9H3a3,3,0,0,0-3,3V28a3,3,0,0,0,3,3H29a3,3,0,0,0,3-3V12A3,3,0,0,0,29,9ZM13,3h6v8H13Z"/>
                                <path class="cls-1" d="M4,26a1,1,0,0,0,1,1h8a1,1,0,0,0,1-1,5,5,0,0,0-2.207-4.145,4,4,0,1,0-5.586,0A5,5,0,0,0,4,26Zm3-7a2,2,0,1,1,2,2A2,2,0,0,1,7,19Zm2,4a3.006,3.006,0,0,1,2.829,2H6.171A3.006,3.006,0,0,1,9,23Z"/>
                                <path class="cls-2" d="M25,25H19a1,1,0,0,1,0-2h6a1,1,0,0,1,0,2Z"/>
                                <path class="cls-2" d="M27,21H19a1,1,0,0,1,0-2h8a1,1,0,0,1,0,2Z"/>
                                <path class="cls-2" d="M27,17H19a1,1,0,0,1,0-2h8a1,1,0,0,1,0,2Z"/>
                                <path class="cls-2" d="M16.02,9a1,1,0,0,1-.01-2h.01a1,1,0,0,1,0,2Z"/>
                            </g>
                        </svg>
                      </div>
                      
                    <input type="text" id="name" formControlName="name" name="name" class="bg-gray-50 border border-gray-300 text-primaryText text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 pl-10" placeholder="name">
                </div>
                <div *ngIf="formSubmitted && registerForm.controls['name'].invalid">
                    <small class="text-red-500" *ngIf="registerForm.get('name')?.errors?.['required']">Name is required.</small>
                    <small class="text-red-500" *ngIf="registerForm.get('name')?.errors?.['minlength']">Name must be at least 3 characters long.</small>
                  </div>
            </div>

            <!-- Email -->
            <div class="mb-4">
                <label for="email" class="block mb-2 text-base font-medium text-primaryText">E-mail</label>
                <div class="relative">

                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                            <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                            <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                        </svg>
                      </div>
                      
                    <input type="email" id="email" formControlName="email" name="email" class="bg-gray-50 border border-gray-300 text-primaryText text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 pl-10" placeholder="e-mail" required>
                </div>
                <div *ngIf="formSubmitted && registerForm.controls['email'].invalid">
                    <small class="text-red-500" *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
                    <small class="text-red-500" *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</small>
                  </div>
            </div>

            <!-- Password -->
            <div class="mb-6">
                <label for="password" class="block mb-2 text-base font-medium text-gray-900">Password</label>
                <div class="relative">
                  <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="w-5 h-5 text-gray-500" fill="currentColor">
                      <g id="lock">
                        <path d="M25,13V9c0-4.971-4.029-9-9-9c-4.971,0-9,4.029-9,9v4c-1.657,0-3,1.343-3,3v3v1v2v1c0,4.971,4.029,9,9,9h6   c4.971,0,9-4.029,9-9v-1v-2v-1v-3C28,14.342,26.656,13,25,13z M9,9c0-3.866,3.134-7,7-7c3.866,0,7,3.134,7,7v4h-2V9.002   c0-2.762-2.238-5-5-5c-2.762,0-5,2.238-5,5V13H9V9z M20,9v0.003V13h-8V9.002V9c0-2.209,1.791-4,4-4C18.209,5,20,6.791,20,9z M26,19   v1v2v1c0,3.859-3.141,7-7,7h-6c-3.859,0-7-3.141-7-7v-1v-2v-1v-3c0-0.552,0.448-1,1-1c0.667,0,1.333,0,2,0h14c0.666,0,1.332,0,2,0   c0.551,0,1,0.448,1,1V19z" fill="#333333"/>
                        <path d="M16,19c-1.104,0-2,0.895-2,2c0,0.607,0.333,1.76,0.667,2.672c0.272,0.742,0.614,1.326,1.333,1.326   c0.782,0,1.061-0.578,1.334-1.316C17.672,22.768,18,21.609,18,21C18,19.895,17.104,19,16,19z" fill="#333333"/>
                      </g>
                    </svg>
                  </div>
                  <input
                    [type]="showPassword ? 'text' : 'password'"
                    id="password"
                    formControlName="password"
                    name="password"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-3"
                    placeholder="Password"
                    required
                  />

                  <button
                  type="button"
                  (click)="togglePasswordVisibility()"
                  class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-500"
                >
                  <!-- Видимо око -->
                  <svg
                  *ngIf="showPassword"
                  xmlns="http://www.w3.org/2000/svg"
                  version="1.1"
                  viewBox="0 0 32 32"
                  class="w-5 h-5 text-gray-500"
                >
                  <g>
                    <g>
                      <path
                        d="M16,28c-2.1376953,0-4.2255859-0.4257813-6.2050781-1.2651367 c-0.5078125-0.215332-0.7460938-0.8022461-0.5302734-1.3110352c0.2167969-0.5092773,0.8027344-0.7451172,1.3115234-0.5297852 C12.3066406,25.6279297,14.1318359,26,16,26c6.0048828,0,11.4316406-3.9116211,13.9238281-10 c-0.9228516-2.2514648-2.296875-4.2861328-3.9882813-5.9023438c-0.3994141-0.3818359-0.4140625-1.0146484-0.0322266-1.4140625 c0.3818359-0.3989258,1.0146484-0.4135742,1.4130859-0.0322266c1.9931641,1.9047852,3.5898438,4.3217773,4.6171875,6.9892578 c0.0888672,0.2314453,0.0888672,0.4873047,0,0.71875C29.2099609,23.4306641,22.9560547,28,16,28z"
                      ></path>
                    </g>
                    <g>
                      <path
                        d="M7.5908203,25.4086914c-0.1914063,0-0.3847656-0.0546875-0.5556641-0.1694336 c-3.0839844-2.0664063-5.5585938-5.2197266-6.96875-8.8798828c-0.0888672-0.2314453-0.0888672-0.4873047,0-0.71875 C2.7900391,8.5693359,9.0439453,4,16,4c3.1699219,0,6.2695313,0.9545898,8.9648438,2.7607422 c0.4589844,0.3071289,0.5810547,0.9282227,0.2744141,1.387207c-0.3085938,0.4594727-0.9296875,0.581543-1.3876953,0.2739258 C21.4863281,6.8374023,18.7714844,6,16,6C9.9951172,6,4.5683594,9.9116211,2.0761719,16 c1.2822266,3.1254883,3.4277344,5.8061523,6.0722656,7.578125c0.4589844,0.3071289,0.5810547,0.9282227,0.2744141,1.387207 C8.2294922,25.253418,7.9130859,25.4086914,7.5908203,25.4086914z"
                      ></path>
                    </g>
                    <g>
                      <path
                        d="M3,30c-0.2558594,0-0.5117188-0.0976563-0.7070313-0.2929688 c-0.390625-0.390625-0.390625-1.0234375,0-1.4140625l26-26 c0.390625-0.390625,1.0234375-0.390625,1.4140625,0s0.390625,1.0234375,0,1.4140625l-26,26 C3.5117188,29.9023438,3.2558594,30,3,30z"
                      ></path>
                    </g>
                    <g>
                      <path
                        d="M14.258728,21.741272C14.8100586,21.9082642,15.394165,22,16,22c3.3137207,0,6-2.6862793,6-6 c0-0.605835-0.0917358-1.1899414-0.258728-1.741272L14.258728,21.741272z"
                      ></path>
                      <path
                        d="M20.2426758,11.7573242C19.1568604,10.6715698,17.6568604,10,16,10c-3.3137207,0-6,2.6862793-6,6 c0,1.6568604,0.6715698,3.1568604,1.7573853,4.2426147L20.2426758,11.7573242z"
                      ></path>
                    </g>
                  </g>
                </svg>
                
                  <!-- Скрито око -->
                  <svg
                    *ngIf="!showPassword"
                    xmlns="http://www.w3.org/2000/svg"
                    enable-background="new 0 0 50 50"
                    height="50px"
                    viewBox="0 0 50 50"
                    class="w-5 h-5 text-gray-500"
                  >
                    <rect fill="none" height="50" width="50" />
                    <path
                      d="M48,25c0,0-10.297,12-23,12S2,25,2,25s10.297-12,23-12S48,25,48,25z"
                      fill="none"
                      stroke="#000000"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                    <path
                      d="M33.154,14.615C34.923,16.567,36,19.157,36,22c0,6.076-4.924,11-11,11s-11-4.924-11-11c0-2.833,1.07-5.416,2.829-7.365"
                      fill="none"
                      stroke="#000000"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-miterlimit="10"
                      stroke-width="2"
                    />
                    <circle cx="25" cy="22" r="5" />
                  </svg>
                </button>
                </div>

                <div *ngIf="formSubmitted && registerForm.get('password')?.errors as errors">
                  <small class="text-red-500" *ngIf="errors['backend']">
                    {{ errors['backend'] }}
                  </small>
                  <small class="text-red-500" *ngIf="errors['minlength']">
                    Password must be at least {{ registerForm.get('password')?.errors?.['minlength']?.requiredLength }} characters.
                  </small>
                </div>

              </div>

             <!-- Phone -->
             <div class="mb-4">
                <label for="phone" class="block mb-2 text-base font-medium text-primaryText">Phone</label>
                <div class="relative">

                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-primaryText">
                            <title>Phone Icon</title>
                            <g data-name="1" id="_1">
                                <path d="M348.73,450.06a198.63,198.63,0,0,1-46.4-5.85c-52.43-12.65-106.42-44.74-152-90.36s-77.71-99.62-90.36-152C46.65,146.75,56.15,99.61,86.69,69.07l8.72-8.72a42.2,42.2,0,0,1,59.62,0l50.11,50.1a42.18,42.18,0,0,1,0,59.62l-29.6,29.59c14.19,24.9,33.49,49.82,56.3,72.63s47.75,42.12,72.64,56.31L334.07,299a42.15,42.15,0,0,1,59.62,0l50.1,50.1a42.16,42.16,0,0,1,0,59.61l-8.73,8.72C413.53,439,383.73,450.06,348.73,450.06ZM125.22,78a12,12,0,0,0-8.59,3.56l-8.73,8.72c-22.87,22.87-29.55,60-18.81,104.49,11.37,47.13,40.64,96.1,82.41,137.86s90.73,71,137.87,82.41c44.5,10.74,81.61,4.06,104.48-18.81l8.72-8.72a12.16,12.16,0,0,0,0-17.19l-50.09-50.1a12.16,12.16,0,0,0-17.19,0l-37.51,37.51a15,15,0,0,1-17.5,2.72c-30.75-15.9-61.75-39.05-89.65-66.95s-51-58.88-66.94-89.63a15,15,0,0,1,2.71-17.5l37.52-37.51a12.16,12.16,0,0,0,0-17.19l-50.1-50.11A12.07,12.07,0,0,0,125.22,78Z"/>
                                <path d="M364.75,269.73a15,15,0,0,1-15-15,99.37,99.37,0,0,0-99.25-99.26,15,15,0,0,1,0-30c71.27,0,129.25,58,129.25,129.26A15,15,0,0,1,364.75,269.73Z"/>
                                <path d="M428.15,269.73a15,15,0,0,1-15-15c0-89.69-73-162.66-162.65-162.66a15,15,0,0,1,0-30c106.23,0,192.65,86.43,192.65,192.66A15,15,0,0,1,428.15,269.73Z"/>
                            </g>
                        </svg>
                      </div>
                      
                    <input type="text" id="phone" formControlName="phone" name="phone" class="bg-gray-50 border border-gray-300 text-primaryText text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 pl-10" placeholder="phone" required>
                </div>
                <div *ngIf="formSubmitted && registerForm.controls['email'].invalid">
                    <small class="text-red-500" *ngIf="registerForm.get('phone')?.errors?.['required']">Phone is required.</small>
                    <small class="text-red-500" *ngIf="registerForm.get('phone')?.errors?.['pattern']"> Phone number must be between 10 and 15 digits.</small>
                  </div>
            </div>

            <div class="flex items-start mt-7 mb-7">
                <div class="flex items-center h-5">
                <input id="remember" type="checkbox" value="checked" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required/>
                </div>
                <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree with the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a>.</label>
            </div>

            <!-- Sign In btn -->
            <div class="flex justify-center">
                <button type="submit" class="bg-btn hover:bg-blue-800 text-white text-base font-semibold rounded-xl px-10 py-2.5 text-center focus:outline-none">
                    Sign up
                </button>
            </div>

            <div class="flex justify-center mt-4 mb-7">
                <label for="remember" class="text-sm font-medium text-gray-900 dark:text-gray-300">Already have an account? <a href="login" class="text-blue-600 hover:underline dark:text-blue-500">Log in</a>.</label>
            </div>
        </form>
      </div>

        <img src="./assets/images/logos/blueMainLogo.png" alt="LogiXpert Logo" class="absolute right-14 bottom-10 lg:bottom-12 lg:-left-36 w-5/12  md:max-w-screen-lg opacity-5 z-[-1]" @slideInFromLeft>
    </div>
</div>