<div class="mt-5 flex justify-center">
    <div class="w-full lg:max-w-screen-md max-w-screen-sm">
        <!-- Header -->
        <h1 class="text-4xl lg:text-6xl font-medium text-primaryText mb-8 text-left">Sign up logiXpert profile</h1>
        <p class="text-sm lg:text-base text-primaryText mb-6 text-left">Feel the difference in service</p>

        <!-- Sign In Form -->
        <form class="w-full">

             <!-- Name -->
             <div class="mb-4">
                <label for="input-group-2" class="block mb-2 text-base font-medium text-primaryText">Name</label>
                <div class="relative">

                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500">
                            <defs>
                                <style>.cls-1{fill:#4e4e55;}.cls-2{fill:#77acf1;}</style>
                            </defs>
                            <g data-name="7. Id Card" id="_7._Id_Card">
                                <path class="cls-1" d="M29,9H24a1,1,0,0,0,0,2h5a1,1,0,0,1,1,1V28a1,1,0,0,1-1,1H3a1,1,0,0,1-1-1V12a1,1,0,0,1,1-1h8a2,2,0,0,0,2,2h6a2,2,0,0,0,2-2V3a2,2,0,0,0-2-2H13a2,2,0,0,0-2,2V9H3a3,3,0,0,0-3,3V28a3,3,0,0,0,3,3H29a3,3,0,0,0,3-3V12A3,3,0,0,0,29,9ZM13,3h6v8H13Z"/>
                                <path class="cls-1" d="M4,26a1,1,0,0,0,1,1h8a1,1,0,0,0,1-1,5,5,0,0,0-2.207-4.145,4,4,0,1,0-5.586,0A5,5,0,0,0,4,26Zm3-7a2,2,0,1,1,2,2A2,2,0,0,1,7,19Zm2,4a3.006,3.006,0,0,1,2.829,2H6.171A3.006,3.006,0,0,1,9,23Z"/>
                                <path class="cls-2" d="M25,25H19a1,1,0,0,1,0-2h6a1,1,0,0,1,0,2Z"/>
                                <path class="cls-2" d="M27,21H19a1,1,0,0,1,0-2h8a1,1,0,0,1,0,2Z"/>
                                <path class="cls-2" d="M27,17H19a1,1,0,0,1,0-2h8a1,1,0,0,1,0,2Z"/>
                                <path class="cls-2" d="M16.02,9a1,1,0,0,1-.01-2h.01a1,1,0,0,1,0,2Z"/>
                            </g>
                        </svg>
                      </div>
                      
                    <input type="email" id="input-group-2" class="bg-gray-50 border border-gray-300 text-primaryText text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 pl-10" placeholder="name">
                </div>
            </div>

            <!-- Email -->
            <div class="mb-4">
                <label for="input-group-3" class="block mb-2 text-base font-medium text-primaryText">E-mail</label>
                <div class="relative">

                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                            <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                            <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                        </svg>
                      </div>
                      
                    <input type="email" id="input-group-3" class="bg-gray-50 border border-gray-300 text-primaryText text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 pl-10" placeholder="e-mail">
                </div>
            </div>

            <!-- Password -->
            <div class="mb-6">
                <label for="password" class="block mb-2 text-base font-medium text-gray-900">Password</label>
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="w-5 h-5 text-gray-500" fill="currentColor">
                            <g id="lock">
                                <path d="M25,13V9c0-4.971-4.029-9-9-9c-4.971,0-9,4.029-9,9v4c-1.657,0-3,1.343-3,3v3v1v2v1c0,4.971,4.029,9,9,9h6   c4.971,0,9-4.029,9-9v-1v-2v-1v-3C28,14.342,26.656,13,25,13z M9,9c0-3.866,3.134-7,7-7c3.866,0,7,3.134,7,7v4h-2V9.002   c0-2.762-2.238-5-5-5c-2.762,0-5,2.238-5,5V13H9V9z M20,9v0.003V13h-8V9.002V9c0-2.209,1.791-4,4-4C18.209,5,20,6.791,20,9z M26,19   v1v2v1c0,3.859-3.141,7-7,7h-6c-3.859,0-7-3.141-7-7v-1v-2v-1v-3c0-0.552,0.448-1,1-1c0.667,0,1.333,0,2,0h14c0.666,0,1.332,0,2,0   c0.551,0,1,0.448,1,1V19z" fill="#333333"/>
                                <path d="M16,19c-1.104,0-2,0.895-2,2c0,0.607,0.333,1.76,0.667,2.672c0.272,0.742,0.614,1.326,1.333,1.326   c0.782,0,1.061-0.578,1.334-1.316C17.672,22.768,18,21.609,18,21C18,19.895,17.104,19,16,19z" fill="#333333"/>
                            </g>
                        </svg>
                    </div> 
                    <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-3" placeholder="password">
                </div>
            </div>

             <!-- Phone -->
             <div class="mb-4">
                <label for="input-group-5" class="block mb-2 text-base font-medium text-primaryText">Phone</label>
                <div class="relative">

                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-primaryText">
                            <title>Phone Icon</title>
                            <g data-name="1" id="_1">
                                <path d="M348.73,450.06a198.63,198.63,0,0,1-46.4-5.85c-52.43-12.65-106.42-44.74-152-90.36s-77.71-99.62-90.36-152C46.65,146.75,56.15,99.61,86.69,69.07l8.72-8.72a42.2,42.2,0,0,1,59.62,0l50.11,50.1a42.18,42.18,0,0,1,0,59.62l-29.6,29.59c14.19,24.9,33.49,49.82,56.3,72.63s47.75,42.12,72.64,56.31L334.07,299a42.15,42.15,0,0,1,59.62,0l50.1,50.1a42.16,42.16,0,0,1,0,59.61l-8.73,8.72C413.53,439,383.73,450.06,348.73,450.06ZM125.22,78a12,12,0,0,0-8.59,3.56l-8.73,8.72c-22.87,22.87-29.55,60-18.81,104.49,11.37,47.13,40.64,96.1,82.41,137.86s90.73,71,137.87,82.41c44.5,10.74,81.61,4.06,104.48-18.81l8.72-8.72a12.16,12.16,0,0,0,0-17.19l-50.09-50.1a12.16,12.16,0,0,0-17.19,0l-37.51,37.51a15,15,0,0,1-17.5,2.72c-30.75-15.9-61.75-39.05-89.65-66.95s-51-58.88-66.94-89.63a15,15,0,0,1,2.71-17.5l37.52-37.51a12.16,12.16,0,0,0,0-17.19l-50.1-50.11A12.07,12.07,0,0,0,125.22,78Z"/>
                                <path d="M364.75,269.73a15,15,0,0,1-15-15,99.37,99.37,0,0,0-99.25-99.26,15,15,0,0,1,0-30c71.27,0,129.25,58,129.25,129.26A15,15,0,0,1,364.75,269.73Z"/>
                                <path d="M428.15,269.73a15,15,0,0,1-15-15c0-89.69-73-162.66-162.65-162.66a15,15,0,0,1,0-30c106.23,0,192.65,86.43,192.65,192.66A15,15,0,0,1,428.15,269.73Z"/>
                            </g>
                        </svg>
                      </div>
                      
                    <input type="email" id="input-group-5" class="bg-gray-50 border border-gray-300 text-primaryText text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 pl-10" placeholder="phone">
                </div>
            </div>

            <div class="flex items-start mt-7 mb-7">
                <div class="flex items-center h-5">
                <input id="remember" type="checkbox" value="checked" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" required/>
                </div>
                <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">I agree with the <a href="#" class="text-blue-600 hover:underline dark:text-blue-500">terms and conditions</a>.</label>
            </div>

            <!-- Sign In btn -->
            <div class="flex justify-center">
                <button type="submit" class="bg-btn hover:bg-blue-800 text-white text-base font-semibold rounded-xl px-10 py-2.5 text-center focus:outline-none">
                    Sign up
                </button>
            </div>
        </form>

        <img src="./assets/images/logos/blueMainLogo.png" alt="LogiXpert Logo" class="absolute right-14 bottom-10 lg:bottom-12 lg:-left-36 w-5/12  md:max-w-screen-lg opacity-5 z-[-1]">
    </div>
</div>